
.flex-container{
    display: flex;
    gap: 0;

}

.top-fourth{
    background-color: #1F2937;
    color: #F9FAF8;



}



.second-fourth{
    background-color: #83fe07;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-fourth{
    background-color: #E5E7EB;
}

.header-top{
    display: flex;
    background-color: #1F2937;

}

.boxes div{
    display: flex;
    background: red;
    height: 50px;
    width: 50px;
}

.header-top div {
    background-color: #1F2937;
    display: flex;
    font: Roboto;
    flex: 1;
    align-items: center;


}

#header-logo {
    color: #F9FAF8;
    font-size: 14px;
    align-self: start;
    margin-left: 200px;

}

.flex-top-right{
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    align-self: last baseline;


    

}

.flex-top{
    display: flex;
    align-items: center;
    gap: 40px;

}

.img-placeholder{
    background-color: #e5e7eb;
    height: 200px;
    width: 400px;
    align-self:center;
    text-align: center;
    color:rgb(34, 36, 36);
    display: flex;
    justify-content: center;  
    align-items: center;


    
}

.top-third-text{
    margin-left: 200px;
    font-size: 40px;

}

#subtext{
    font-size: 18px;
}

.top-third-text h1{
    margin-bottom: 10px;
    line-height: 0.95;
}

.top-third-text p {
    margin-top: 0;
    margin-bottom: 0;
}

.top-third-text button{
    background-color: rgb(16, 93, 182);
    margin-top: 0;
    color:#E5E7EB;

}