
.flex-container{
    display: flex;
    gap: 0;
    flex-basis: 1;

}

.top-fourth{
    background-color: #1F2937;
    color: #F9FAF8;



}



.second-fourth{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 50px;

}

.third-fourth{
    background-color: #E5E7EB;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.fourth-fourth{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-color: #3882F6;
    height: 100px;
    width: 800px;
    display: flex;
    border-radius: 10px;

}

.banner h3{
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 30px;
    color: white;

}

#sign-up2{
    margin-top: 40px;
    margin-left: 90px;
    width:100px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

}

.banner p{
    margin-top: 0px;
    margin-left: 100px;
    color: rgb(202, 202, 202);
    
}

#inspiring-quote{
    margin-top: 50px;
    height: 200px;
    width: 600px;
    margin-bottom: 100px;


    
}

#inspiring-quote p{
    margin-top: 0px;
    color:#000000;
    text-align: right;
    font-size: 20px;
}

.header-top{
    display: flex;
    background-color: #1F2937;

}

.boxes {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.box {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(26, 162, 224);
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 10%;


}

.card{
    width: 100px;

}

.card p{
    margin-top: 2px;
    font-size: 12px;

    
}

.header-top div {
    background-color: #1F2937;
    display: flex;
    font: Roboto;
    flex: 1;
    align-items: center;


}

#header-logo {
    color: #F9FAF8;
    font-size: 14px;
    align-self: start;
    margin-left: 200px;

}

.flex-top-right{
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    align-self: last baseline;


    

}

.flex-top{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
    justify-content: space-evenly;


}

.img-placeholder{
    background-color: #75767a;
    height: 150px;
    width: 400px;
    align-self:center;
    text-align: center;
    color:rgb(34, 36, 36);
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 50px;
    color: white;


    
}

.top-third-text{
    margin-top: 50px;
    margin-left: 200px;
    font-size: 20px;

}

#subtext{
    font-size: 18px;

}

.top-third-text h1{
    margin-bottom: 10px;
    line-height: 0.95;
}

.top-third-text p {
    margin-top: 0;
    margin-bottom: 0;
}

.top-third-text button{
    background-color: rgb(16, 93, 182);
    margin-top: 5px;
    color:#E5E7EB;
    width:100px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
   

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 80px;
    background-color: #1F2937;
    color:#E5E7EB
}